a:link{
    color:black;
}
a:visited{
    color:blue
}
a:hover{
    color:brown
}
a:active{
    color: chartreuse;
}
body{
    background-image: url("D:/何松霖/PS文件/其他/比赛.png");
    background-size:cover;
    background-color: currentColor;
}